body {
  margin: 0;
  padding: 0;
  background: #343D46;
}

.content {
  height: 100%;
  width: 100%;
}

.vertical-spacer {
  /* height: 40%; */
  background: #FAC863;
}

input.user-name {
  color: #FAC863;
  background: transparent;
  font-family: 'consolas', Courier New, monospace;
  font-size: 14px;
  border-color: white;
  border-style: solid;
  border-radius: 5px;
  border-width: 0.1em;
  padding: 5px;
  margin: 5px;
}

input.user-name:focus {
  outline: none;
  border-color: rgb(163, 163, 241);
}

input.user-name::placeholder {
  font-weight: lighter;
  color: #65737E;
}

.first-user-block {
  text-align: center;
}

.second-user-block {
  text-align: center;
}

.users-label-block {
  font-family: 'consolas', Courier New, monospace;
  font-size: 16px;
  color: #FAC863;
  text-align: left;
}

.search-button-block {
  text-align: right;
}

input.search-btn {
  color: #FAC863;
  background: transparent;
  font-family: 'consolas', Courier New, monospace;
  font-size: 14px;
  border-color: white;
  border-style: solid;
  border-radius: 5px;
  border-width: 0.1em;
  padding: 5px;
  margin: 5px;
}

.sm-l {
  float: left; }

.sm-r {
  float: right; }

.sm-n {
  float: none; }

.sm-1 {
  width: 16.66%; }

.sm-2 {
padding-left: 33.33%; }

.sm-3 {
  width: 50.00%; }

.sm-4 {
  width: 66.66%; }

.sm-5 {
  width: 83.33%; }

.sm-6 {
  width: 100.0%; }


.sm-7 {
  width: 33.33%; }

.sc-top {
  margin: auto;
  display: inline;
}


.multi-column {
  -webkit-column-count: 1;
  -moz-column-count: 1;
  column-count: 1; }